@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: black;
    color: grey;
}

nav ul {
    display: flex;
    justify-content: end;
    align-items: end;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

/* Container 404 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 90vh;
    margin: auto;
}
