@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: black;
    color: grey;
    font-size: 18px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .8rem;
}

li {
    list-style-type: none;
    cursor: pointer;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Classes for Home*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 90vh;
    margin: auto;
}

.hidden {   
    display: none;
}

/* WB */

.wb-body {
    background-color: #111;
    padding: 20px;
}

.wb-title {
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.wb-min, .wb-max, .wb-full, .wb-close{
    background-color: #141414;
}

.wb-full {
    display: none;
}

/* Cursor */

.cursor{
    animation: blink 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
@keyframes blink {
    0%{
        color: grey;
    }
    25% {
        color: black;
    }
    100% {
        color: grey;
    }
}
